.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  text-align: center;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 50%;
  border: 1px solid black;
}

th, td {
  border: 1px;
}

th {
  background-color: lightgrey;
}

td {
  background-color: lightsalmon;
  text-align: left;
}

.compact {
  width: 10%;
  text-align: center;
}

.col-50 {
  width: 50%;
  display: inline-block;
}

.col-80 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 80%;
  display: inline-block;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  overflow: hidden;
  background-color: #dddddd;
}

.nav li {
  float: left;
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.nav li a {
  color: black;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}
